<a style="color: white"
  >Proudly supported by the
  <a
    href="https://www.mq.edu.au/faculty-of-science-and-engineering/departments-and-schools/school-of-computing"
    target="_blank" style="color: white"
    >School of Computing</a
  >, <a href="https://linktr.ee/mqwic" target="_blank" style="color: white">Women in Computing</a>,
  <a href="https://macs.codes/" target="_blank" style="color: white">MACS</a> and
  <a href="https://ctftime.org/team/112620/" target="_blank" style="color: white">MQCybersec</a></a
>
